@import './base.css';
@import 'vfonts/Lato.css';
@import 'vfonts/FiraCode.css';

#app {
    height: 100vh;
    background: linear-gradient(270deg, #a3c2ff, #ffb3ff, #baffc9, #ffebc6, #f3a683);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    /*background-color: #f7f8fa;*/
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
